<div class="upload-container">
  <h2>Selecionar Arquivo XML</h2>

  <%= form_with url: documents_path, local: true, html: { multipart: true } do |form| %>
    <div class="form-group">
      <%= form.label :document, "Escolha um arquivo XML:", class: 'form-label' %>
      <%= form.file_field :file, accept: '.xml', class: 'file-input' %>
    </div>
    <%= form.submit 'Processar NF-e', class: 'submit-button' %>
  <% end %>
</div>
<div class="upload-container">
<h2>Processamento em lote</h2>
<h3>Selecionar Arquivo ZIP</h3>

  <%= form_with url: documents_path, local: true, html: { multipart: true } do |form| %>
    <div class="form-group">
      <%= form.label :document, "Escolha um arquivo ZIP:", class: 'form-label' %>
      <%= form.file_field :file, accept: '.zip', class: 'file-input' %>
    </div>
    
    <!-- Campo oculto para identificar que é uma importação em lote -->
    <%= form.hidden_field :import_type, value: 'zip' %>

    <%= form.submit 'Processar Arquivos ZIP', class: 'submit-button' %>
  <% end %>

  <%= link_to 'Voltar', root_path, class: 'back-link' %>
</div>

<div class="upload-container">